# ─────────────────────────────────────────────────────────
# Variables de entorno del proyecto extracText
# ─────────────────────────────────────────────────────────

# API Gateway
APP_NAME=extracText
APP_VERSION=0.1.0
APP_DEBUG=false

# Extractor
PDF_MAX_SIZE_MB=10

# Storage
MONGODB_URL=mongodb://mongo:27017
MONGODB_DB_NAME=extractext
